<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/demo.css'%}">

</head>
<body>
  <div class="container" align="center">
      <div class="jumbotron">

          <h1 class="display-4">News portal</h1>
          <p class="lead">This is single page application generaly use to News application and other information .</p>
          <hr class="my-4">
          <p>Continues nes update in this portal ..</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="/movieinfo" role="button">Movie information</a>
              <a class="btn btn-primary btn-lg" href="/sportinfo" role="button">Sport information</a>
              <a class="btn btn-primary btn-lg" href="/politicsinfo" role="button">Politics information</a>
  </p>


      </div>

  </div>


</body>
</html>